<launch>
  <!-- move_base debug profile with smooth holonomic TEB and low-inflation LiDAR costmaps. -->
  <arg name="scan_topic" default="/lidar/scan"/>
  <arg name="cmd_vel_topic" default="/cmd_vel_raw"/>
  <arg name="use_sim_time" default="true"/>

  <param name="/use_sim_time" value="$(arg use_sim_time)"/>

  <node pkg="move_base" type="move_base" name="move_base" output="screen" required="false">
    <remap from="cmd_vel" to="$(arg cmd_vel_topic)"/>
    <remap from="scan" to="$(arg scan_topic)"/>
    <rosparam command="load" file="$(find nav_bringup)/config/costmap_common_lidar_debug.yaml"/>
    <rosparam command="load" file="$(find nav_bringup)/config/global_costmap_lidar_debug.yaml"/>
    <rosparam command="load" file="$(find nav_bringup)/config/local_costmap_lidar_debug.yaml"/>
    <rosparam command="load" file="$(find nav_bringup)/config/move_base_lidar.yaml"/>
    <rosparam command="load" file="$(find nav_bringup)/config/global_planner_debug.yaml"/>
    <rosparam command="load" file="$(find nav_bringup)/config/teb_omni_smooth.yaml"/>
    <param name="recovery_behavior_enabled" value="false"/>
    <param name="clearing_rotation_allowed" value="false"/>
    <param name="controller_frequency" value="10.0"/>
    <param name="planner_frequency" value="2.0"/>
  </node>
</launch>
